/* Main page*/

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root{
--main-text-color: #2E2F42;
--sec-text-color:#4D5AE5;
--text-text-color:#434455;
--cloud-text-color:#F4F4FD;
--port-button-bg:#E7E9FC;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.containertop {
    padding-top: 24px;
    padding-bottom: 24px;

}

body{
    font-family: "Roboto";
}
ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

a:link  { 
    text-decoration: none; 
color: #434455;
}

    .site-nav, .buttons, .address {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    

.containertop {
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    margin-bottom: 0;
}
.logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.30;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #fff;
    color: var(--main-text-color);
    margin-right: 70px;


}
.web {
    color: var(--sec-text-color);
}

.logo.studio {
    color: var(--main-text-color);
}


.buttons {
    background-color: #fff;
    color:var(--main-text-color);
    font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
margin: 0;
padding-inline-start: 0;
gap: 40px;
}


.address {
    background-color: #fff;
    color: var(--text-text-color);
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
margin: 0;
margin-left: auto;
gap: 40px;
}


.bigtext{
    color: #fff;
    font-weight: 600;
font-size: 56px;
line-height: 1.1;
/* or 107% */
letter-spacing: 0.02em;

margin-top: 0;
}
.orderbtn {
    color: #fff;
    background-color: var(--sec-text-color);
    font-weight: 600;
    font-family: inherit;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
align-items: center;
letter-spacing: 0.04em;
border-radius: 4px;
padding: 16px 32px;
min-width: 170px;
margin-top: 4px;
}


.effectivesection {
    padding-top: 192px;
padding-bottom: 192px;
    text-align: center;
background-color: var(--main-text-color)
}


.block {
    display: flex;

}

.textmarginbot{
    padding-top: 120px;
padding-bottom: 120px;
}
.block {
gap: 24px;
}

.blockwdt{
    width: 264px;
}
.buttons .item:last-child{
    margin-right: 0;
    width: 264px;
}


.maintext{
    background-color: #fff;
    color:var(--main-text-color) ;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
margin-bottom: 8px;
margin-top: 0;
}
.minortext{
    background-color: #fff;
    color: var(--text-text-color);
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;
}




.questiontext {
    font-size: 36px;
    margin-bottom: 72px;
    margin-top: 0;
}

.question{
    background-color: #fff;
    color: var(--main-text-color);
    font-weight: 600;
line-height: 1.1;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-top: 0;
padding-bottom: 120px;
}
.imagesforquestion{
display: inline-flex;
gap: 24px;  
}

.cloud {
    background-color: var(--cloud-text-color);
    padding-top: 120px;
padding-bottom: 120px;
}
.cloudtext{
    color: var(--main-text-color);
    background-color: var(--cloud-text-color);
    font-weight: 600;
font-size: 36px;
line-height: 1.1;
/* identical to box height, or 111% */
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-top: 0;
margin-bottom: 72px;
}

.name {
    color: var(--main-text-color);
    background-color: var(--cloud-text-color);
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.02em;
margin-top: 0;
margin-bottom: 8px;
}
.job {
    color: var(--text-text-color);
    background-color:var(--cloud-text-color);
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 0;
}

.botimages {
display: flex;
flex-wrap: wrap;
text-align: center;
gap: 24px;
/*Я змінив ширину цієї секції тому що інакше не влазило*/
}

.paddingcloud{
    padding-top: 32px;
    padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
border: 1px solid #E7E9FC;
}


.containerfoot{
    background-color: var(--main-text-color);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
}



.footlogo {    

margin-top: 0;
margin-bottom: 16px;
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.30;
/* identical to box height, or 133% */
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footlogo.web {
color: var(--sec-text-color);
background-color: #2E2F42;
}

.studio{
    color: var(--cloud-text-color);
    background-color: #2E2F42;
}

.foottext {
    font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;
/* CORNFLOWER */
color: #E7E9FC;
width: 264px;
height: 72px;
}


/* Portfolio*/

.logop{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.30;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-right: 77px;
}

.webp {
color: var(--sec-text-color);
}


.site-navp, .buttonsp, .addressp{
    display: flex;
    align-items: center;
    text-align: center;
    } 

.containertopp {
    border-bottom: 1px solid #E7E9FC;
    align-items: center;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}


.studiop{
    background-color: #fff;
    color: var(--main-text-color);
}
.footlogop.studiop.webp{
    background-color: #fff;
    color: #4D5AE5;
}

.buttonsp {
    background-color: #fff;
    color: var(--main-text-color);
    font-weight: 600;
    font-family: inherit;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
gap: 40px;
}

.addressp {
    background-color: #fff;
    color: var(--text-text-color);
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
margin-left: auto;
gap: 40px;
}

.buttonline{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 24px;
}

.herop{
    padding-top: 96px;
    padding-bottom: 120px;
}

.buttonstack {
    color: var(--sec-text-color);
    background-color: var(--port-button-bg);
    font-weight: 600;
    font-family: inherit;
font-size: 16px;
padding: 8px 16px;
line-height: 1.5;
/* identical to box height, or 150% */
align-items: center;
text-align: center;
letter-spacing: 0.04em;
box-sizing: border-box;
border: 1px solid #E7E9FC;
border-radius: 4px;
align-items: center;
text-align: center;
}

.btnmr {
    margin-right: 80px;
}

.buttonstack:hover {
    color: #F4F4FD;
    background-color: #4D5AE5;
}



    .images {
        display: flex;
        flex-wrap: wrap;
margin: 0;
padding: 0;
gap: 48px 24px;
    }

.imagesbasis.img{
    display:block;
    max-width: 100%;
    height: auto;
}

.namep {
    color: var(--main-text-color);
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
line-height: 1.2;
margin-top: 0;
margin-bottom: 8px;
}
.description {
    color: var(--text-text-color);
    background-color: #fff;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
margin-top: 0;
margin-bottom: 0;
}
.images.text {
    color: var(--cloud-text-color);
    background-color: var(--sec-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    position: absolute;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: #4D5AE5;
background-blend-mode: soft-light;
mix-blend-mode: normal;
}

.imagesdiv{
    padding-top: 32px;
    padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
border: 1px solid #E7E9FC;
}

.footlogop{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.30;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studiop{
    color: var(--cloud-text-color);
    background-color: #2E2F42;
}

.colorfooterlogo {
color: var(--sec-text-color);
background-color: var(--main-text-color);
padding-top: 100px;
padding-bottom: 100px;
}


.foottextp {
    font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;
/* CORNFLOWER */
color: #E7E9FC;
width: 264px;
height: 72px;
}
